[Desktop Entry]
Categories=FileManager;Utility;FileTools;
Comment[it]=Gestore di file a pannello doppio
Comment=Gestore di file a pannello doppio
Comment[bg]=Файлов мениджър с два панела
Comment[bs]=Dvostrani menadžer datoteka
Comment[ca@valencia]=Gestor de fitxers de doble plafó
Comment[ca]=Gestor de fitxers de doble plafó
Comment[cs]=Dvoupanelový správce souborů
Comment[da]=Filhåntering med dobbeltpanel
Comment[de]=Dateiverwaltungsprogramm mit einer zweispaltigen Ansicht
Comment[el]=Διαχειριστής αρχείων διπλού πίνακα
Comment[en_GB]=Twin-Panel File Manager
Comment[es]=Panel gemelo de gestor de archivos
Comment[et]=Kahe paneeliga failihaldur
Comment[fi]=Kaksipaneelinen tiedostonhallinta
Comment[fr]=Gestionnaire de fichiers à deux panneaux
Comment[hr]=Upravitelj datoteka s dvojnim panelom
Comment[hu]=Kétpaneles fájlkezelő
Comment[nb]=Filbehandler med to paneler
Comment[nds]=Dubbelpaneel-Dateipleger
Comment[nl]=Bestandsbeheerder met twee vensters
Comment[pa]=ਦੋ-ਬਾਹੀ ਫਾਇਲ ਮੈਨੇਜਰ
Comment[pl]=Menadżer plików bliźniaczych paneli
Comment[pt]=Gestor de Ficheiros de Painéis Duplos
Comment[pt_BR]=Gerenciador de arquivos de dois painéis
Comment[ro]=Gestionar de fișiere bi-panou
Comment[ru]=Двухпанельный файловый менеджер
Comment[sk]=Dvojpanelový správca súborov
Comment[sl]=Upravljalnik datotek z dvema pultoma
Comment[sr@ijekavian]=Двопанелни менаџер фајлова
Comment[sr@ijekavianlatin]=Dvopanelni menadžer fajlova
Comment[sr@latin]=Dvopanelni menadžer fajlova
Comment[sr]=Двопанелни менаџер фајлова
Comment[sv]=Filhanterare med två paneler
Comment[tr]=İkiz Panelli Dosya Yönetici
Comment[uk]=Двопанельний менеджер файлів
Comment[x-test]=xxTwin-Panel File Managerxx
Comment[zh_CN]=双面板文件管理器
Comment[zh_TW]=雙面板檔案管理員
Exec=mc -S /usr/share/mc/skins/darkfar.ini
GenericName[it]=Gestore dei file
GenericName=Gestore dei file
GenericName[bg]=Файлов мениджър
GenericName[bs]=Menadžer datoteka
GenericName[ca@valencia]=Gestor de fitxers
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_GB]=File Manager
GenericName[eo]=Dosieradministrilo
GenericName[es]=Gestor de archivos
GenericName[et]=Failihaldur
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[ga]=Bainisteoir Comhad
GenericName[hr]=Upravitelj datoteka
GenericName[hu]=Fájlkezelő
GenericName[nb]=Filbehandler
GenericName[nds]=Dateipleger
GenericName[nl]=Bestandsbeheerder
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menadżer plików
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Gestionar de fișiere
GenericName[ru]=Менеджер файлов
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sr@ijekavian]=Менаџер фајлова
GenericName[sr@ijekavianlatin]=Menadžer fajlova
GenericName[sr@latin]=Menadžer fajlova
GenericName[sr]=Менаџер фајлова
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yönetici
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理員
Icon=mc
MimeType=
Name[it]=MidnightCommander
Name=MidnightCommander
Name[bg]=MidnightCommander
Name[bs]=MidnightCommander
Name[ca@valencia]=MidnightCommander
Name[ca]=MidnightCommander
Name[cs]=MidnightCommander
Name[da]=MidnightCommander
Name[de]=MidnightCommander
Name[el]=MidnightCommander
Name[en_GB]=MidnightCommander
Name[eo]=MidnightCommander
Name[es]=MidnightCommander
Name[et]=MidnightCommander
Name[fi]=MidnightCommander
Name[fr]=MidnightCommander
Name[hr]=MidnightCommander
Name[hu]=MidnightCommander
Name[nb]=MidnightCommander
Name[nds]=MidnightCommander
Name[nl]=MidnightCommander
Name[pa]=ਕੇ-ਰੁਸਡੇਰ
Name[pl]=MidnightCommander
Name[pt]=MidnightCommander
Name[pt_BR]=MidnightCommander
Name[ro]=MidnightCommander
Name[ru]=MidnightCommander
Name[sk]=MidnightCommander
Name[sl]=MidnightCommander
Name[sr@ijekavian]=Крусејдер
Name[sr@ijekavianlatin]=MidnightCommander
Name[sr@latin]=MidnightCommander
Name[sr]=Крусејдер
Name[sv]=MidnightCommander
Name[tr]=MidnightCommander
Name[ug]=MidnightCommander
Name[uk]=MidnightCommander
Name[x-test]=xxMidnightCommanderxx
Name[zh_CN]=MidnightCommander
Name[zh_TW]=MidnightCommander
StartupNotify=true
Terminal=true
Type=Application
